In [2]:
import pandas as pd
import numpy as np
from scipy.stats import f_oneway
import matplotlib.pyplot as plt

# ANOVA 분산분석

## 데이터 정제

In [27]:
df = pd.read_csv("/home/piai/test/Data2/Car.csv")
df.head(40)

,Name,Location,Price,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,Maruti Wagon R LXI CNG,Mumbai,2682.68,2010,72000,CNG,Manual,First,26.6 kmpl,998 CC,58.16 bhp,5.0,NaN
1,Hyundai Creta 1.6 CRDi SX Option,Pune,19162.00,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN
2,Honda Jazz V,Chennai,6898.32,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh
3,Maruti Ertiga VDI,Chennai,9197.76,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,27194.71,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN
5,Hyundai EON LPG Era Plus Option,Hyderabad,3602.46,2012,75000,LPG,Manual,First,21.1 kmpl,814 CC,55.2 bhp,5.0,NaN
6,Nissan Micra Diesel XV,Jaipur,5365.36,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,26826.80,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh
8,Volkswagen Vento Diesel Comfortline,Pune,7971.39,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN
9,Tata Indica Vista Quadrajet LS,Chennai,2989.27,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN
10,Maruti Ciaz Zeta,Kochi,15252.95,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh
11,Honda City 1.5 V AT Sunroof,Kolkata,6882.99,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN
12,Maruti Swift VDI BSIV,Jaipur,8584.58,2015,64424,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,NaN
13,Land Rover Range Rover 2.2L Pure,Delhi,41389.92,2014,72000,Diesel,Automatic,First,12.7 kmpl,2179 CC,187.7 bhp,5.0,NaN
14,Land Rover Freelander 2 TD4 SE,Pune,26826.80,2012,85000,Diesel,Automatic,Second,0.0 kmpl,2179 CC,115 bhp,5.0,NaN
15,Mitsubishi Pajero Sport 4X4,Delhi,22994.40,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh
16,Honda Amaze S i-Dtech,Kochi,8277.98,2016,58950,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,NaN
17,Maruti Swift DDiS VDI,Jaipur,9182.43,2017,25000,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,NaN
18,Renault Duster 85PS Diesel RxL Plus,Kochi,9718.97,2014,77469,Diesel,Manual,First,20.45 kmpl,1461 CC,83.8 bhp,5.0,NaN
19,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,42922.88,2014,78500,Diesel,Automatic,First,14.84 kmpl,2143 CC,167.62 bhp,5.0,NaN
20,BMW 3 Series 320d,Kochi,28436.41,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh
21,Maruti S Cross DDiS 200 Alpha,Bangalore,12646.92,2015,55392,Diesel,Manual,Second,23.65 kmpl,1248 CC,88.5 bhp,5.0,NaN
22,Audi A6 2011-2015 35 TFSI Technology,Mumbai,36024.56,2015,55985,Petrol,Automatic,First,13.53 kmpl,1984 CC,177.01 bhp,5.0,NaN
23,Hyundai i20 1.2 Magna,Kolkata,2866.64,2010,45807,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,5.0,NaN
24,Volkswagen Vento Petrol Highline AT,Kolkata,4368.94,2010,33000,Petrol,Automatic,First,14.4 kmpl,1598 CC,103.6 bhp,5.0,NaN
25,Honda City Corporate Edition,Mumbai,6515.08,2012,51920,Petrol,Manual,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN
26,Nissan Micra Diesel XV,Hyderabad,6515.08,2012,54000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN
27,Maruti Alto K10 2010-2014 VXI,Hyderabad,4215.64,2013,54000,Petrol,Manual,Second,20.92 kmpl,998 CC,67.1 bhp,5.0,NaN
28,Honda WRV i-VTEC VX,Kochi,15176.30,2018,37430,Petrol,Manual,First,17.5 kmpl,1199 CC,88.7 bhp,5.0,10.57 Lakh
29,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,6131.84,2007,262000,Diesel,Manual,Fourth & Above,12.8 kmpl,2494 CC,102 bhp,7.0,NaN
30,Renault Duster 110PS Diesel RxZ Pack,Bangalore,11880.44,2013,62000,Diesel,Manual,First,19.01 kmpl,1461 CC,108.45 bhp,5.0,NaN
31,Toyota Corolla Altis G,Delhi,10347.48,2012,87615,Petrol,Manual,First,14.53 kmpl,1798 CC,138.1 bhp,5.0,NaN
32,Mahindra Ssangyong Rexton RX7,Bangalore,19162.00,2013,72000,Diesel,Automatic,Second,11.18 kmpl,2696 CC,184 bhp,7.0,NaN
33,Audi A6 2.7 TDI,Kolkata,17629.04,2010,35000,Diesel,Automatic,First,12.4 kmpl,2698 CC,179.5 bhp,5.0,NaN
34,Volkswagen Vento 1.6 Highline,Coimbatore,10700.06,2014,55431,Petrol,Manual,Second,16.09 kmpl,1598 CC,103.5 bhp,5.0,12.33 Lakh
35,Maruti Wagon R LXI BSIII,Jaipur,2835.98,2009,83816,Petrol,Manual,Second,14.0 kmpl,1061 CC,64 bhp,5.0,NaN
36,Maruti Vitara Brezza ZDi Plus,Kochi,13229.44,2018,50075,Diesel,Manual,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,11.12 Lakh
37,Mahindra KUV 100 mFALCON G80 K6 5str AW,Delhi,7434.86,2017,52000,Petrol,Manual,First,18.15 kmpl,1198 CC,82 bhp,5.0,NaN
38,Mercedes-Benz M-Class ML 350 CDI,Pune,42922.88,2013,85000,Diesel,Automatic,First,11.74 kmpl,2987 CC,254.8 bhp,5.0,NaN
39,Volkswagen Polo Diesel Trendline 1.2L,Chennai,7664.80,2013,62000,Diesel,Manual,First,22.07 kmpl,1199 CC,73.9 bhp,5.0,NaN

In [39]:
df.dropna(inplace = True)

In [40]:
df.isnull().sum()

Name                 0
Location             0
Price                0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
dtype: int64

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1004 entries, 2 to 7236
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               1004 non-null   object
 1   Location           1004 non-null   object
 2   Price              1004 non-null   float64
 3   Year               1004 non-null   int64
 4   Kilometers_Driven  1004 non-null   int64
 5   Fuel_Type          1004 non-null   object
 6   Transmission       1004 non-null   object
 7   Owner_Type         1004 non-null   object
 8   Mileage            1004 non-null   object
 9   Engine             1004 non-null   object
 10  Power              1004 non-null   object
 11  Seats              1004 non-null   int64
 12  New_Price          1004 non-null   object
dtypes: float64(1), int64(3), object(9)
memory usage: 109.8+ KB

In [22]:
value_counts_A = df['Location'].value_counts()
value_counts_B = df['Fuel_Type'].value_counts()
value_counts_C = df['Owner_Type'].value_counts()
value_counts_D = df['Transmission'].value_counts()

print("Location :")
print(value_counts_A)
print()
print("Fuel_Type :")
print(value_counts_B)
print()
print("Owner_Type :")
print(value_counts_A)
print()
print("Transmission :")
print(value_counts_B)
print()

Location :
Kochi         167
Mumbai        165
Coimbatore    163
Hyderabad      97
Delhi          72
Pune           72
Kolkata        72
Chennai        60
Jaipur         52
Ahmedabad      45
Bangalore      39
Name: Location, dtype: int64

Fuel_Type :
Diesel    539
Petrol    455
CNG        10
Name: Fuel_Type, dtype: int64

Owner_Type :
Kochi         167
Mumbai        165
Coimbatore    163
Hyderabad      97
Delhi          72
Pune           72
Kolkata        72
Chennai        60
Jaipur         52
Ahmedabad      45
Bangalore      39
Name: Location, dtype: int64

Transmission :
Diesel    539
Petrol    455
CNG        10
Name: Fuel_Type, dtype: int64

## Location

In [45]:
df['Location'].unique()

array(['Chennai', 'Mumbai', 'Kochi', 'Delhi', 'Coimbatore', 'Bangalore',
       'Pune', 'Ahmedabad', 'Kolkata', 'Hyderabad', 'Jaipur'],
      dtype=object)

In [46]:
test = [df['Price'][df['Location'] == i] for i in df['Location'].unique()]

f_statistic, p_value = f_oneway(*test)  # 유의수준 0.05 설정 
print("p value : {}".format(p_value.round(2)))

if p_value < 0.05:
    print("Location 집단간의 차이가 가격에 영향을 끼친다.")
else:
    print("Location 집단간의 차이가 가격에 영향을 끼치지 않는다.")

p value : 0.0
Location 집단간의 차이가 가격에 영향을 끼친다.

## Fuel_Type

In [47]:
df['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [48]:
test = [df['Price'][df['Fuel_Type'] == i] for i in df['Fuel_Type'].unique()]

f_statistic, p_value = f_oneway(*test)  # 유의수준 0.05 설정 
print("p value : {}".format(p_value.round(2)))

if p_value < 0.05:
    print("Fuel_Type 집단간의 차이가 가격에 영향을 끼친다.")
else:
    print("Fuel_Type 집단간의 차이가 가격에 영향을 끼치지 않는다.")

p value : 0.0
Fuel_Type 집단간의 차이가 가격에 영향을 끼친다.

## Owner_Type

In [49]:
df['Owner_Type'].unique()

array(['First', 'Second', 'Third'], dtype=object)

In [51]:
test = [df['Price'][df['Owner_Type'] == i] for i in df['Owner_Type'].unique()]

f_statistic, p_value = f_oneway(*test)  # 유의수준 0.05 설정
print("p value : {}".format(p_value.round(2)))

if p_value < 0.05:
    print("Owner_Type 집단간의 차이가 가격에 영향을 끼친다.")
else:
    print("Owner_Type 집단간의 차이가 가격에 영향을 끼치지 않는다.")

p value : 0.15
Owner_Type 집단간의 차이가 가격에 영향을 끼치지 않는다.

## Transmission

In [ ]:
df['Transmission'].unique()

In [52]:
test = [df['Price'][df['Transmission'] == i] for i in df['Transmission'].unique()]

f_statistic, p_value = f_oneway(*test)  # 유의수준 0.05 설정
print("p value : {}".format(p_value.round(2)))

if p_value < 0.05:
    print("Transmission 집단간의 차이가 가격에 영향을 끼친다.")
else:
    print("Transmission 집단간의 차이가 가격에 영향을 끼치지 않는다.")

p value : 0.0
Transmission 집단간의 차이가 가격에 영향을 끼친다.

# 결론

* 범주형 설명변수 Location, Fuel_Type, Transmission는 목표변수 Price에 유의미하다.
* 범주형 설명변수 Owner_Type은 목표변수 Price에 유의미 하지 않다. → 변수 제거